<h1 class='title'><%= PreRegistration.model_name.human(count: 2) %></h1>

<%= link_to t('views.new_user'), new_pre_registration_path %>

<% if @pre_registrations.any? %>
  <table>
    <thead>
      <tr>
        <th><%= User.model_name.human(count: 1) %></th>
        <th><%= t('activerecord.attributes.user.cpf') %></th>
        <th><%= t('activerecord.attributes.pre_registration.status') %></th>
      </tr>
    </thead>
    <tbody>
      <% @pre_registrations.each do |pr| %>    
      <tr>
        <td><%= pr.email %></td>
        <td><%= pr.cpf %></td>
        <td><%= pr.translated_status %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('messages.no_user_registered') %></p>
<% end %>