<%= form_with model: [@order, @order_dish] do |f| %>
  <div>
    <%= f.label :dishes, Dish.model_name.human(count: 2) %>
    <%= f.collection_select :dish_id, @dishes || [], :id, :name, { prompt: t('views.select_dish') }, { id: "dish-select" } %>
  </div>
  <div>
    <%= f.label :dish_options, DishOption.model_name.human(count: 2) %>
    <%= f.collection_select :dish_option_id, @dish_options || [], :id, :description, { prompt: t('views.select_dish_option') }, { id: "dish-options-select" } %>
  </div>
  <div>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <div>
    <%= f.label :observation %>
    <%= f.text_field :observation %>
  </div>    
  <div>
    <%= f.submit t('actions.add_dish') %>
  </div>
<% end %>

<%= javascript_include_tag "order_dish_form" %>