<%= form_with model: @menu do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :dishes %>
    <div>
      <%= f.collection_check_boxes :dish_ids, @dishes, :id, :name do |box| %>
        <div>
          <%= box.check_box %>
          <%= box.label %>
        </div>
      <% end %>
    </div>      
  </div>
  <div>
    <%= f.label :drinks %>
    <div>
      <%= f.collection_check_boxes :drink_ids, @drinks, :id, :name do |box| %>
        <div>
          <%= box.check_box %>
          <%= box.label %>
        </div>
      <% end %>      
    </div>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>