<%= form_with model: @menu do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="checkbox-section">
    <%= f.label :dishes, Dish.model_name.human(count: 2) %>
    <div class="checkbox-group">
      <%= f.collection_check_boxes :item_ids, @dishes, :id, :name do |box| %>
        <div class="checkbox-item">
          <%= box.check_box %>
          <%= box.label %>
        </div>
      <% end %>
    </div>      
  </div>
  <div class="checkbox-section">
    <%= f.label :drinks, Drink.model_name.human(count: 2) %>
    <div class="checkbox-group">
      <%= f.collection_check_boxes :item_ids, @drinks, :id, :name do |box| %>
        <div class="checkbox-item">
          <%= box.check_box %>
          <%= box.label %>
        </div>
      <% end %>      
    </div>
  </div>
  <div>
    <%= f.submit class: 'submit-button' %>
  </div>
<% end %>