<h1 class='title'><%= @menu.name %></h1>

<% if @dishes.any? %>
  <%= render 'dishes' %>
<% end %>

<% if @drinks.any? %>
  <%= render 'drinks' %>
<% end %>

<% unless @dishes.any? || @drinks.any? %>
  <p><%= t('messages.no_item_registered') %></p>
<% end %>

<div><%= link_to t('actions.edit'), edit_menu_path(@menu.id) %></div>

