<h2>Results found: <%= @dishes.count %></h2>

<% if @dishes.present? %>
  <ul>
    <% @dishes.each do |dish| %>
      <li>
        <%= link_to dish.name, dish_path(dish.id) %>

        <%= link_to 'Edit', edit_dish_path(dish.id), 
                          id: dom_id(dish, :edit) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Dish not found</p>
<% end %>

<h2>Results found: <%= @drinks.count %></h2>

<% if @drinks.present? %>
  <ul>
    <% @drinks.each do |drink| %>
      <li>
        <%= link_to drink.name, drink_path(drink.id) %>

        <%= link_to 'Edit', edit_drink_path(drink.id), 
                          id: dom_id(drink, :edit) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Drink not found</p>
<% end %>

