<h2>Results found: <%= @dishes.count %></h2>

<% if @dishes.present? %>
  <ul>
    <% @dishes.each do |dish| %>
      <li><%= link_to dish.name, establishment_dish_path(@establishment.id, dish.id) %></li>

      <%= link_to "Edit #{dish.name}", edit_establishment_dish_path(@establishment.id, dish.id) %>
    <% end %>
  </ul>
<% else %>
  <p>Dish not found</p>
<% end %>

<h2>Results found: <%= @drinks.count %></h2>

<% if @drinks.present? %>
  <ul>
    <% @drinks.each do |drink| %>
      <li><%= link_to drink.name, establishment_drink_path(@establishment.id, drink.id) %></li>

      <%= link_to "Edit #{drink.name}", edit_establishment_drink_path(@establishment.id, drink.id) %>
    <% end %>
  </ul>
<% else %>
  <p>Drink not found</p>
<% end %>

