<div class='form-container'>
  <%= form_with model: @drink do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :calories %>
      <%= f.text_field :calories %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label :is_alcoholic %>
      <%= f.select :is_alcoholic, Drink.is_alcoholics.keys.map { |key| [key.humanize, key] } %>
    </div> 
    <div>
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>