<h1 class='title'><%= Drink.model_name.human(count: 2) %></h1>

<%= link_to t('views.new_drink'), new_drink_path, class: 'new-button' %>

<% if @drinks.any? %>
  <ul>    
    <% @drinks.each do |drink| %>
      <div class='container'>
        <div class='img'><%= image_tag drink.image %></div>
        <li>
          <%= link_to drink.name, drink_path(drink.id) %> (<%= drink.translated_status %>)
        </li>
        <p><%= drink.description %></p>
        <p><%= drink.calories %> cal</p>
        <p><%= "#{t('activerecord.attributes.drink.is_alcoholic')} #{drink.translated_is_alcoholic}" %></p>
      </div>
    <% end %>    
  </ul>
<% else %>
  <p><%= t('messages.no_drink_registered') %></p>
<% end %>