<h2>Drinks</h2>

<%= link_to 'Register Drink', new_establishment_drink_path(@establishment.id) %>

<% if @drinks.any? %>
  <ul>    
    <% @drinks.each do |drink| %>
      <div class='container'>
        <div class='img'><%= image_tag drink.image %></div>
        <li>
          <%= link_to drink.name, establishment_drink_path(@establishment.id, drink.id) %> 
          (<%= drink.status.humanize %>)
        </li>
        <p><%= drink.description %></p>
        <p><%= drink.calories %> cal</p>
        <p>Is alcoholic? <%= drink.is_alcoholic.humanize %></p>
      </div>
    <% end %>    
  </ul>
<% else %>
  <p>There is no drinks registered</p>
<% end %>