<h1 class='title'><%= @drink.name %> (<%= @drink.status.humanize %>)</h1>

<%= link_to 'Price History', drink_drink_price_history_index_path(@drink.id) %>

<% if @drink.status == 'active' %>
  <%= button_to 'Deactivate', inactive_drink_path(@drink.id) %>
<% else %>
  <%= button_to 'Activate', active_drink_path(@drink.id) %>
<% end %>

<section>
  <div class='img'><%= image_tag @drink.image %></div>
  <p><%= @drink.description %></p>
  <p><%= @drink.calories %> cal</p>
  <p>Is alcoholic? <%= @drink.is_alcoholic.humanize %></p>
</section>

<%= link_to 'Edit', edit_drink_path(@drink.id) %>

<%= button_to 'Delete', drink_path(@drink.id), 
    method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>

<h2>Options</h2>

<div><%= link_to 'Register Drink Option', new_drink_drink_option_path(@drink.id) %></div>

<% if @drink.drink_options.any? %>
  <ul>
    <% @drink.drink_options.each do |option| %>
      <li><%= option.description %></li>
      <li><%= number_to_currency(option.price) %></li>

      <%= link_to 'Edit', 
          edit_drink_drink_option_path(@drink.id, option.id), 
          id: dom_id(option, :edit) %>
    <% end %>
  </ul>
<% else %>
  <p>There are no registered drink options</p>
<% end %>
