<h2><%= @drink.name %></h2>

<section>
  <div class='img'><%= image_tag @drink.image %></div>
  <p><%= @drink.description %></p>
  <p><%= @drink.calories %> cal</p>
  <p>Is alcoholic? <%= @drink.is_alcoholic.humanize %></p>
</section>

<%= link_to 'Edit', edit_establishment_drink_path(@establishment.id, @drink.id) %>

<%= button_to 'Delete', establishment_drink_path(@establishment.id, @drink.id), 
    method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>