<h1 class='title'><%= @operating_hour.day_of_week.humanize %></h1>

<table>
  <thead>
    <tr>
      <th>Opening Time</th>
      <th>Closing Time</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @operating_hour.opening_time.strftime("%H:%M") %></td>
      <td><%= @operating_hour.closing_time.strftime("%H:%M") %></td>
      <td><%= @operating_hour.status.humanize %></td>
      <td><%= link_to 'Edit', edit_establishment_operating_hour_path %></td>
    </tr>
  </tbody>
</table>
