<div class='form-container'>
  <%= form_with model: [@establishment, @dish, @option] do |f| %>
    <div>
      <%= f.label :dish_id %>
      <%= f.collection_select :dish_id, @dishes, :id, :name, include_blank: true %>
    </div>
    <div>
      <%= f.label :drink_id %>
      <%= f.collection_select :drink_id, @drinks, :id, :name, include_blank: true %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label :price %>
      <%= f.number_field :price, step: 0.01, value: number_to_currency(f.object.price, unit: "", 
                          separator: ",", delimiter: ".") %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>