<h1 class='title'><%= Menu.model_name.human(count: 2) %></h1>

<div><%= link_to t('views.new_menu'), new_menu_path %></div>

<% if @menus.any? %>
  <ul>
    <% @menus.each do |menu| %>
      <li><%= link_to menu.name, menu_path(menu.id) %></li>
    <% end %>
  </ul>
<% else %>
  <p><%= t('messages.no_menu_registered') %></p>
<% end %>

<div><%= link_to t('views.new_order'), new_order_path %></div>


