<h1 class='title'><%= Order.model_name.human(count: 2) %></h1>

<% if @orders.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.order.code') %></th>
        <th><%= t('activerecord.attributes.order.customer_name') %></th>
        <th><%= t('activerecord.attributes.order.total_value') %></th>
        <th><%= t('activerecord.attributes.order.status') %></th>
        <th><%= t('activerecord.attributes.order.cancellation_reason') %></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.code, order_path(order.id), class: 'order-link' %></td>
          <td><%= order.customer_name %></td>
          <td><%= number_to_currency(order.total_value) %></td>
          <td><%= order.translated_status %></td>
          <td><%= order.cancellation_reason %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('messages.no_order_registered') %></p>
<% end %>