<h1 class='title'><%= "#{Order.model_name.human(count: 1)} #{@order.code}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.order.customer_name') %></th>
      <th>CPF</th>
      <th><%= t('activerecord.attributes.order.customer_phone') %></th>
      <th>Email</th>
      <th><%= t('activerecord.attributes.order.status') %></th>
      <th><%= t('activerecord.attributes.order.cancellation_reason') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.customer_name %></td>
      <td><%= @order.customer_cpf %></td>
      <td><%= @order.customer_phone %></td>
      <td><%= @order.customer_email %></td>
      <td><%= @order.translated_status %></td>
      <td><%= @order.cancellation_reason %></td>
    </tr>
  </tbody>
</table>

<h2><%= t('views.order_items') %></h2>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th><%= t('views.option') %></th>
      <th><%= t('views.quantity') %></th>
      <th><%= t('views.observation') %></th>
      <th><%= t('views.price') %></th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_dishes.each do |od| %>
      <tr>
        <td><%= od.dish.name %></td>
        <td><%= od.dish_option.description %></td>
        <td><%= od.quantity %></td>
        <td><%= od.observation %></td>
        <td><%= number_to_currency(od.total_price) %></td>
      </tr>
    <% end %>  
    <% @order.order_drinks.each do |od| %>
      <tr>
        <td><%= od.drink.name %></td>
        <td><%= od.drink_option.description %></td>
        <td><%= od.quantity %></td>
        <td><%= od.observation %></td>
        <td><%= number_to_currency(od.total_price) %></td>
      </tr>
    <% end %>  
  </tbody>
</table>

<div class='add-items-link'>
  <%= link_to t('actions.add_dish'), new_order_order_dish_path(@order.id) %>
  <%= link_to t('actions.add_drink'), new_order_order_drink_path(@order.id) %>
</div>

<% if @order.awaiting_kitchen_confirmation? %>
  <%= button_to t('activerecord.attributes.order.statuses.in_preparation'), in_preparation_order_path(@order.id) %>
  <%= button_to t('activerecord.attributes.order.statuses.canceled'), canceled_order_path(@order.id) %>
<% elsif @order.in_preparation? %>
  <%= button_to t('activerecord.attributes.order.statuses.canceled'), canceled_order_path(@order.id) %>
  <%= button_to t('activerecord.attributes.order.statuses.ready'), ready_order_path(@order.id) %>
<% elsif @order.ready? %>
  <%= button_to t('activerecord.attributes.order.statuses.canceled'), canceled_order_path(@order.id) %>
  <%= button_to t('activerecord.attributes.order.statuses.delivered'), delivered_order_path(@order.id) %>
<% end %>

<h2 class='total-price'>Total: <%= number_to_currency(@order.total_value) %></h2>