<h1 class='title'><%= Tag.model_name.human(count: 2) %></h1>

<div><%= link_to t('views.new_tag'), new_tag_path, class: 'new-button' %></div>

<% if @tags.any? %>
  <table class='table-container'>
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.tag.name') %></th>
        <th><%= t('views.action') %></th>
      </tr>
    </thead>
    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
          <td>
            <%= link_to t('actions.edit'), edit_tag_path(tag.id), 
                id: dom_id(tag, :edit), class: 'edit-button' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no registered tags</p>
<% end %>

