<div class='form-container'>
  <%= form_with model: [@establishment, @dish, @dish_option] do |f| %>        
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label :price %>
      <%= f.text_field :price %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>