<div class='form-container'>
  <%= form_with model: @dish do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :calories %>
      <%= f.text_field :calories %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div> 
    <div>
      <%= f.label :tags %>
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |box| %>
        <div>
          <%= box.check_box %>
          <%= box.label %>
        </div>
      <% end %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>