<h2>Dishes</h2>

<div><%= link_to 'Register Dish', new_establishment_dish_path(@establishment.id) %></div>

<% if @dishes.any? %>
  <ul>    
    <% @dishes.each do |dish| %>
      <div class='container'>
        <div class='img'><%= image_tag dish.image %></div>
        <li>
          <%= link_to dish.name, establishment_dish_path(@establishment.id, dish.id) %> (<%= dish.status.humanize %>)                    
        </li>
          <% dish.tags.each do |tag| %>
            <span>#<%= tag.name %></span>
          <% end %>

        <p><%= dish.description %></p>
        <p><%= dish.calories %> cal</p>
      </div>
    <% end %>    
  </ul>
<% else %>
  <p>There is no dishes registered</p>
<% end %>
