<h1 class='title'><%= Dish.model_name.human(count: 2) %></h1>

<div class='register'><%= link_to t('views.new_dish'), new_dish_path, class: 'new-button' %></div>

<% if @dishes.any? %>
  <div class='tag-filter'>
    <%= form_with(url: dishes_path, method: :get, class: 'filter-form') do %>
      <%= label_tag :tag_id, t('views.filter_by_tag') %>
      <%= select_tag :tag_id, options_from_collection_for_select(@tags, :id, :name, params[:tag_id]),
                      include_blank: t('views.all'), class: 'filter-select' %>
    
      <%= submit_tag t('views.filter'), class: 'filter-button' %>
    <% end %>
  </div>

  <ul class='list'>
    <% @dishes.each do |dish| %>
      <div class='container'>
        <div class='img'><%= image_tag dish.image %></div>
        <li>
          <%= link_to dish_path(dish.id) do %>
            <h2><%= dish.name %> (<%= dish.translated_status %>)</h2>            
          <% end %>
        </li>
          <% dish.tags.each do |tag| %>
            <span>#<%= tag.name %></span>
          <% end %>

        <p><%= dish.description %></p>
        <p><%= dish.calories %> cal</p>
      </div>
      <hr>
    <% end %>    
  </ul>
<% else %>
  <p><%= t('messages.no_dish_registered') %></p>
<% end %>
