<h1 class='title'>Dishes</h1>

<div class='register'><%= link_to 'Register Dish', new_dish_path %></div>

<% if @dishes.any? %>
  <div class='tag-filter'>
    <%= form_with(url: dishes_path, method: :get) do %>
      <%= label_tag :tag_id, 'Filter by Tag' %>
      <%= select_tag :tag_id, options_from_collection_for_select(@tags, :id, :name, params[:tag_id]),
                      include_blank: 'All' %>
    
      <%= submit_tag 'Filter' %>
    <% end %>
  </div>

  <ul class='dish-list'>
    <% @dishes.each do |dish| %>
      <div class='dish-container'>
        <li>
          <%= link_to dish_path(dish.id) do %>
            <h2><%= dish.name %> (<%= dish.status.humanize %>)</h2>
            <div class='img'><%= image_tag dish.image %></div>
          <% end %>
        </li>
          <% dish.tags.each do |tag| %>
            <span>#<%= tag.name %></span>
          <% end %>

        <p><%= dish.description %></p>
        <p><%= dish.calories %> cal</p>
      </div>
      <hr>
    <% end %>    
  </ul>
<% else %>
  <p>There is no dishes registered</p>
<% end %>
