<h2>Dishes</h2>

<%= link_to 'Register Dish', new_establishment_dish_path(@establishment.id) %>

<% if @dishes.any? %>
  <ul>
    <% @dishes.each do |dish| %>
      <div class='dish-img'><%= image_tag dish.image %></div>
      <li><%= dish.name %></li>
      <p><%= dish.description %></p>
      <p><%= dish.calories %> cal</p>
    <% end %>
  </ul>
<% else %>
  <p>There is no dishes registered</p>
<% end %>
