<h1 class='title'><%= @dish.name %> (<%= @dish.translated_status %>)</h1>

<div class='container-info'>
  <div class='img'><%= image_tag @dish.image %></div>
  <% @dish.tags.each do |tag| %>
    <span>#<%= tag.name %></span>
  <% end %>
  <div class='info'>
    <p><%= @dish.description %></p>
    <p><%= @dish.calories %> cal</p>
  </div>
</div>

<div class='action-buttons'>
  <%= link_to t('actions.edit'), edit_dish_path(@dish.id), class: 'edit-button' %>

  <% if @dish.status == 'active' %>
    <%= button_to t('actions.deactivate'), inactive_dish_path(@dish.id), class: 'active-deactive' %>
  <% else %>
    <%= button_to t('actions.activate'), active_dish_path(@dish.id), class: 'submit-button' %>
  <% end %>
</div>

<hr>

<h2 class='subtitle'><%= Option.model_name.human(count: 2) %></h2>

<div><%= link_to t('views.new_dish_option'), new_dish_dish_option_path(@dish.id), class: 'new-button' %></div>

<% if @dish.options.any? %>
  <table class='table-container'>
    <thead>
      <tr>
        <th><%= t('views.option') %></th>
        <th><%= t('views.price') %></th>
        <th><%= t('views.action') %></th>
      </tr>
    </thead>
    <tbody>
      <% @dish.options.each do |option| %>
        <tr>
          <td><%= option.description %></td>
          <td><%= number_to_currency(option.price) %></td>
          <td>
            <%= link_to t('actions.edit'), edit_dish_dish_option_path(@dish.id, option.id), 
                id: dom_id(option, :edit), class: 'edit-button' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('messages.no_dish_option_registered') %></p>
<% end %>

<h2>
  <%= link_to PriceHistory.model_name.human(count: 1), price_history_index_path, class: 'menu-card' %>
</h2>
