<h2><%= @dish.name %></h2>

<section>
  <div class='dish-img'><%= image_tag @dish.image %></div>  
  <p><%= @dish.description %></p>
  <p><%= @dish.calories %> cal</p>
</section>

<%= link_to 'Edit', edit_establishment_dish_path(@establishment.id, @dish.id) %>

<%= button_to 'Delete', establishment_dish_path(@establishment.id, @dish.id), 
    method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>