<h2><%= @dish.name %> (<%= @dish.status.humanize %>)</h2>

<% if @dish.status == 'active' %>
  <%= button_to 'Deactivate', inactive_establishment_dish_path(@establishment.id, @dish.id) %>
<% else %>
  <%= button_to 'Activate', active_establishment_dish_path(@establishment.id, @dish.id) %>
<% end %>

<section>
  <div class='img'><%= image_tag @dish.image %></div>  
  <p><%= @dish.description %></p>
  <p><%= @dish.calories %> cal</p>
</section>

<%= link_to 'Edit', edit_establishment_dish_path(@establishment.id, @dish.id) %>

<%= button_to 'Delete', establishment_dish_path(@establishment.id, @dish.id), 
    method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>