<h2><%= @dish.name %> (<%= @dish.status.humanize %>)</h2>

<%= link_to 'Price History', dish_dish_price_history_index_path(@dish.id) %>

<% @dish.tags.each do |tag| %>
  <span>#<%= tag.name %></span>
<% end %>

<% if @dish.status == 'active' %>
  <%= button_to 'Deactivate', inactive_dish_path(@dish.id) %>
<% else %>
  <%= button_to 'Activate', active_dish_path(@dish.id) %>
<% end %>

<section>
  <div class='img'><%= image_tag @dish.image %></div>  
  <p><%= @dish.description %></p>
  <p><%= @dish.calories %> cal</p>
</section>

<%= link_to 'Edit', edit_dish_path(@dish.id) %>

<%= button_to 'Delete', dish_path(@dish.id), 
    method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>

<h2>Options</h2>

<div><%= link_to 'Register Dish Option', new_dish_dish_option_path(@dish.id) %></div>

<% if @dish.dish_options.any? %>
  <ul>
    <% @dish.dish_options.each do |option| %>
      <li><%= option.description %></li>
      <li><%= number_to_currency(option.price, unit: "R$", separator: ",", delimiter: ".") %></li>

      <%= link_to 'Edit', 
          edit_dish_dish_option_path(@dish.id, option.id), 
          id: dom_id(option, :edit) %>
    <% end %>
  </ul>
<% else %>
  <p>There are no registered dish options</p>
<% end %>
