<h1 class='title'><%= PriceHistory.model_name.human(count: 2) %></h1>

<% if @drink_price_histories.any? %>
  <% grouped_histories = @drink_price_histories.group_by(&:item_id) %>

  <% grouped_histories.each do |item_id, histories| %>
    <% drink_option = @drink_options[item_id] %>
    <h2><%= drink_option.description %></h2>

    <div class='history-price-table'>
      <table>
        <thead>
          <tr>
            <th><%= t('activerecord.attributes.price_history.price') %></th>
            <th><%= t('views.from') %></th>
            <th><%= t('views.to') %></th>
          </tr>
        </thead>
        <tbody>
          <% histories.each do |history| %>
            <tr>
              <td><%= number_to_currency(history.price) %></td>
              <td><%= history.start_date.strftime("%d/%m/%Y %H:%M") %></td>
              <td><%= history.end_date.strftime("%d/%m/%Y %H:%M") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <p><%= t('messages.no_price_history_registered') %></p>
<% end %>