<h1 class='title'><%= PriceHistory.model_name.human(count: 2) %></h1>

<% if @drink_price_histories.any? %>
  <% grouped_histories = @drink_price_histories.group_by(&:item_id) %>

  <% grouped_histories.each do |item_id, histories| %>

    <% drink_option = @drink_options[item_id] %>
    <hr>
    <h3><%= drink_option.description %></h3>
    
    <% histories.each do |history| %>
      <p><td><%= number_to_currency(history.price) %></td></p>

      De <%= history.start_date.strftime("%d/%m/%Y %H:%M") %><br>
      Até <%= history.end_date.strftime("%d/%m/%Y %H:%M") %>
    <% end %>
    <hr>
  <% end %>
<% else %>
  <p><%= t('messages.no_price_history_registered') %></p>
<% end %>