<%= form_with model: [@order, @order_drink] do |f| %>
  <div>
    <%= f.label :drinks, Drink.model_name.human(count: 2) %>
    <%= f.collection_select :drink_id, @drinks || [], :id, :name, { prompt: t('views.select_drink') }, { id: "drink-select" } %>
  </div>
  <div>
    <%= f.label :drink_options, DrinkOption.model_name.human(count: 2) %>
    <%= f.collection_select :drink_option_id, @drink_options || [], :id, :description, { prompt: t('views.select_drink_option') }, { id: "drink-options-select" } %>
  </div>
  <div>
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <div>
    <%= f.label :observation %>
    <%= f.text_field :observation %>
  </div>    
  <div>
    <%= f.submit t('actions.add_drink') %>
  </div>
<% end %>

<%= javascript_include_tag "order_drink_form" %>