<h1 class='title'><%= link_to @establishment.corporate_name, establishment_path(@establishment.id) %></h1>

<% if current_user.admin? %>
  <h2>
    <%= link_to Tag.model_name.human(count: 2), establishment_tags_path(@establishment.id), class: 'menu-buttons menu-card' %>
  </h2>
<% end %>
<hr>

<h2 class='subtitle'><%= OperatingHour.model_name.human(count: 2) %> </h2>

<% if current_user.admin? %>
  <div><%= link_to t('views.new_operating_hour'), new_establishment_operating_hour_path(@establishment.id), class: 'new-button' %></div>
<% end %>

<div class='table-container'>
  <% if @operating_hours.any? %>
    <table>
      <thead>      
        <tr>
          <th><%= t('activerecord.attributes.operating_hour.day_of_week') %></th>
          <th><%= OperatingHour.model_name.human(count: 1) %></th>
          <th><%= t('activerecord.attributes.operating_hour.status') %></th>
        </tr>           
      </thead>
      <tbody>
        <% @operating_hours.each do |oh| %>
          <tr>
            <td>
              <%= link_to oh.translated_day_of_week, 
                  establishment_operating_hour_path(@establishment.id, oh.id), class: 'day-link' %>
            </td>
            <td>
              <%= oh.opening_time.strftime("%H:%M") %> - <%= oh.closing_time.strftime("%H:%M") %>
            </td>
            <td><%= oh.translated_status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t('messages.no_operating_hour_registered') %></p>
  <% end %>
</div>