<h2>My Establishment</h2>

<section>
  <div>Corporate Name: <%= @establishment.corporate_name %></div>
  <div>Brand Name: <%= @establishment.brand_name %></div>
  <div>CNPJ: <%= @establishment.cnpj %></div>
  <div>Full Address: <%= @establishment.address %>, <%= @establishment.number %> - <%= @establishment.neighborhood %> - <%= @establishment.city %> -
                    <%= @establishment.state %> - CEP: <%= @establishment.zip_code %></div>
  <div>Phone Number: <%= @establishment.phone_number %></div>
  <div>Email: <%= @establishment.email %></div>
</section>