<!DOCTYPE html>
<html>
  <head>
    <title>TakeAway</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class='navbar'>
      <%= link_to root_path do %>
        <h1>Take Away</h1>
      <% end %>

      <ul class='nav-list'>
        <% if user_signed_in? %>
          <li class='nav-item'>
            <%= current_user.email %>
            <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
          </li>
          <% if current_user.establishment.present? %>
            <li class='nav-item'>
              <%= link_to 'My Establishment', establishments_path %>
            </li>            
            <li class='nav-item'>
              <%= link_to 'Dishes', dishes_path %>
            </li>
            <li class='nav-item'>
              <%= link_to 'Drinks', drinks_path %>
            </li>                            
            <li class='nav-item'>
              <%= link_to 'Orders', orders_path %>
            </li>                            
            <li class='nav-item'>
              <%= link_to 'Users', pre_registrations_path %>
            </li>                            
          <% end %>
        <% end %>
      </ul>      
    </nav>

    <main>
      <% if user_signed_in? && current_user.establishment.present? %>
        <div class='search'>
          <%= form_with url: search_index_path, method: :get do |f| %>
            <%= f.label :query, 'Search' %>
            <%= f.text_field :query, placeholder: 'Search dishes and drinks' %>
            <%= f.submit 'Search' %>
          <% end %>
        </div>
      <% end %>

      <p><%= notice || alert %></p>

      <%= yield %>
    </main>
  </body>
</html>
